.main-container{
    display: flex;
    
}

.viewSection{
    display: flex;
    padding:4px;
    flex-direction: column;
    /* background-color:#cfcfcf; */
    width:65%;
    margin:25px auto;
}

.viewSection .icon{
    background-color:whitesmoke;
    /* border-radius:6px; */
    size: large;
    height:43px;
    color: gray;
    padding:2px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75); */
}
.deletebtn{
    border:none;
    cursor: pointer;
}

.backbtn .link{
    text-decoration: none;
    color: rgb(91, 89, 89);
    /* height: 25px; */
    padding:3px;
    width:100%;
    /* background-color:skyblue */
    
}

.link:hover{
    box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.5);
    
    /* border-radius: 2rem; */
}

.main-veiw-content{
    flex: 1;
    /* background-color:whitesmoke; */
    width: 100%;
    padding: 3px;
    margin:5px;
}
.mailtitle{
    display:flex;
    align-content: center;
    align-items: center;
}

.inner-container h3{
    text-transform: capitalize;
    font-family: Verdana;padding:5px;
}
/* .mailFormat {
    background-color: whitesmoke;
} */
 .spanStyle{
    /* gap: 2px; */
    font-size:17px; 
    
    
}
.mailImg{
    width:35px;
    height:35px;
}
.mailFormat p{
    font-size: 13px;
}

.inner-container .msg{
    position: relative;
    top:10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif

}

.icon{
    height: 30px;
}

.backbtn{
    /* box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.7); */
    height:30px;
    width: 90px;
    /* background-color:pink; */
}