.container{
    margin:15px auto;
    width:65%;
    border: 1px solid #ccc;
    /* width: 50%;
    display: flex;
    justify-content: center;
    background-color:pink;
    align-items: center; */
}


.wrapperClassName{
    display:flex;
    flex-direction:column;
    position: relative;
}

input{
    width:100%;
    border:none;
    border-bottom: 1px solid #ccc;
    height:35px;
}
.editor{
    height: 450px;
    /* background-color:#ccc; */
}

.btn{
    width:90px;
    height:35px;
    background-color:blue;
    color:white;
    font-size:20px;
    font-family: monospace;
    border:none;
    border-radius:5rem;
    position:relative;
    bottom:8px;
    left:2px;

}