

.centered{
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  padding: 2px;
}
.form header{
  font-family: Verdana;
}
.form .form-control{
  border:none;
  border-radius: 1px solid #ccc;
  margin:3px ;
  width: 75%;
  background-color:#ccc;
  padding:3px;
}

.form-control:focus{
  border: none;
}

.fp-div{
  display: flex;
}
.btn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 3.5px;
  border: 1px solid teal;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}



